* {
    box-sizing: border-box;
  }
  

body{
    display: flex;
    background-color: darkolivegreen;
    justify-content: center;
}

#name {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

aside{
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
}
#online{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  padding-left: 5px;
  margin-bottom: 0px;
  opacity: 25%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pic{
  justify-content: center;
  align-items: center;
  border: 3px solid lightgreen;
  border-radius: 50%;
  margin: 20px;
  margin-right: 40px;
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
#icons{
 
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#icon1{
  background-color: lightgreen;
  
  border: 20px solid lightgreen;
}

#icon2{
  background-color: rgb(82, 143, 82);
  border: 20px solid rgb(82, 143, 82);
}
main{
    background-color: lightgrey;
    
}

#desc1, #desc2, #desc3{
  opacity: 60%;
  border-left: 2px solid green;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 30px
}
#desc1 {
  margin-top: 5px;
}
#desc3{
  margin-bottom: 10px;
}
#name{
  margin-left: 10px;
  padding-top: 20px;
}
#picture{
  margin-left: 10px;
}
#psychic{
  margin-left: 10px;
}
#time{
  margin-left: 10px;
  font-weight: bold;
}
#price{
  margin-left: 10px;
  padding-bottom: 20px;
}
  /* body {
    margin: 0;
    font-family: Helvetica;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
   /* display: flex; */
    
    

  /* }

  body:first-child{
    /*display: flex;*/
 /* }

  body:last-child{
    display: grid;
    justify-content: flex-start;
  }

  #picture {
    grid-column-start: 2;
    grid-row: 1 / 2;
    margin: 5vmin;
    display: flex;
   
    
  }

  #name{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: aqua;
    display: flex;
  }

  #desc {
    background-color: antiquewhite;
    display: flex;
  }

  #time {
    background-color: aquamarine;
    display: flex;
  }

  #price {
    background-color: blue;
    display: flex;

  } */ 





  